@model Enchentes.UI.Models.CidadeViewModel
@{
    ViewBag.Title = "Cidade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb">
    <li class="active">Cidade</li>
</ul>

@Html.ActionLink("Ler XML ", "PrevisaoCidade")


 